<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= Post.title %></h1>
    <p class="meta">
        by <strong><%= Post.author.username %></strong> |
        Created: <%= new Date(Post.createdAt).toLocaleDateString() %> |
        Updated: <%= new Date(Post.updatedAt).toLocaleDateString() %>
    </p>

    <p><%= Post.content %></p>
</body>
</html>